*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.container{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
/*navigation menu*/
.hammenu li {
    display: inline-block;
}
  

.sildeshow{
    width: 100%;
    height: 100vh;
    position: absolute;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    top: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

nav p {
    padding: 1rem;
    color: white;
    font-family: 'Zanzabar', sans-serif;
    font-size: 4rem; 
}

.home_box{
    height: 12rem;
    position: absolute;
    width: 27rem;
    justify-content: end;
    background-color: #03202d;
    bottom: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    left: 4rem;
}

.home_box p{
    color: white;
    font-size: 2rem;  
    align-items: center; 
    font-family: 'Montserrat', sans-serif;
}
.home_box p span{
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.links {
    padding: 1rem;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

#slide{
    object-fit: cover;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#slide {
    animation: zoom 6s linear ease-in infinite; 
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    15% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(1);
    }
}


/* About page */
#About {
    height: 100vh;
    margin-bottom: 20%;

}

#about_img{
    object-fit: cover;
    height: 120%;
    width: 60%;
    background-size: cover;
    border-radius: 100%;
}

#About h2 {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
}





.about_vid{
    align-items: center;
    width: 73rem;
    justify-content: center;
    display: flex;
    height: 20rem;
    border-radius: 5rem;
    align-self: center;
}

.about_text{
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem;
    position: relative;
    text-align: left;
    padding-top: 0;
    

    
}

.about_text p {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1rem;
    
}

.hd_d {
    display: flex;
    justify-content: center;
}
#headline{
    width: 70rem;

}

.about_link{
    color: green;
    align-self: self-end;
    justify-self: left;
    bottom: 0;
    right: 68%;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    line-height: 30px;

}


#box{
    height: 110vh;
    background-color: #03202d;
    color: white;
}
.about_container{
    margin-top: 5%;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
}
/* Reserach Page  */
#Research {
    padding-top: 5%;
    height: 100vh;
}

#Research h2 {
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    
}

.res {
    padding-top: 5rem;
    display: flex;
    padding: 1rem;
    background-color: white;
    height: 50vh;
}

.res_text{
    padding: 2rem;
    
    
}

.res_text p{
    color: black;
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 27px;
}

.res_text_2{
    padding: 0rem 10rem;
}

.res_image {
    background-color: aqua;
    width: 25rem;
    height: 10rem;
    
    border-radius: 0.5rem;
}

.res_text a {
    color: green;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 1rem;
}
/* footer page */
#footer {
    height: 40vh;
    background-color: rgb(255, 255, 255);
    width: 100%;
}
 .Foot{
    height: 40vh;
 }


.row {
    display: flex;
    justify-content: center;

}

.row p {
    text-align: center;
}

.odds{
    font-size: 25px;
    text-align: center;
    margin: 5% 10% 10% 10% ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.odds p{
    color: #03202d;
    text-transform: none;
    font-weight: 500;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.head1{
    position: absolute;
    right: 54%;
    text-align: left;
    margin-bottom: 35%;
    
}
.head1 p{
   
    font-family: "PilcrowSoft", Sans-serif;
    font-size: 40px;
    font-weight:600;
    text-transform: none;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #4C2C15;
    
}
.lorem{
    margin-bottom: 10%;
}
.generalGoal{
    text-align: center;
}

.generalText{
    padding-top: 7%;
    position: absolute;
    left: 45%;
    margin-right: 5%;
    
}



.generalPic{
    padding-top: 3%;
    position: absolute;
    left: 20%;
}

.general h2{
    padding-top: 4%;
    position: absolute;
    right: 30%;
}


.goal1Text{
    position: absolute;
    left: 45%;
    margin-right: 5%;
    top: 47%;
}
.goal1Pic{
    position: absolute;
    top: 40%;
    left: 20%;
}
.goal1Heading{
    position: absolute;
    top: 40%;
    right: 30%;
}
.goal3Text{
    position: absolute;
    left: 45%;
    margin-right: 5%;
    top: 82%;
}
.goal3Pic{
    position: absolute;
    top: 75%;
    left: 20%;
}
.goal3Heading{
    position: absolute;
    top: 75%;
    right: 30%;
}

@media (max-width: 1200px) {
    .index {
        margin: 0;
    }
    
}





.home-testimonial {
    background-color:  #03202d;
    height: 380px;
    padding-bottom: 35%;
}

.home-testimonial-bottom {
    background-color: white;
  
    margin-top: 20px;
    margin-bottom: 0px;
    position: relative;
    height: 130px;
    top: 190px;
}

.home-testimonial h3 {
    color:white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.home-testimonial h2 {
    color: white;
    font-size: 28px;
    font-weight: 700;
}

.testimonial-inner {
    position: relative;
    top: -174px;
   
}

.testimonial-pos {
    position: relative;
    top: 24px;
}

.testimonial-inner .tour-desc {
    border-radius: 15px;
    padding: 40px;
}

.color-grey-3 {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2;
}

.testimonial-inner img.tm-people {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    max-width: none
}

.link-name {
    font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    color: #6c83a2;
}

.link-position {
    font-family: "Montserrat", Sans-serif;
    font-size: 12px;
    color: #6c83a2
}

.tour-desc{
    background-color: whitesmoke;
    text-align: center;
    
}
.tour-item{
    padding: 5%;
}

.bluecolor{
    color: blue;
    
}

.comments {
    margin-top: 10%;
    position: relative;
    min-height: 1px;
    padding-left: 8px;
    padding-right: 8px;
}

#reply-title{
    font-weight:bolder;
    margin: 1% 10%;
}

.comment-notes{
    margin: 1% 10%;
}

.required{
    
    color: #8c1515;
    margin-left: 4%;
}

.asterisk_color{
    color: #8c1515;
}

.comment-form-comment{
    margin: 1% 10%;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    line-height: 1.625;
    color: #001a57;
}

textarea{
    margin: 0% 10%;
}

.comment-form-author{
    margin: 1% 10%;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    line-height: 1.625;
    color: #001a57;
}

.comment-form-email{
    margin: 1% 10%;
    font-weight: 700;
    font-family: Montserrat,sans-serif;
    line-height: 1.625;
    color: #001a57;
}

.form-submit{
    margin: 1% 10%
}

.comment-respond textarea {
    height: 150px;
    width: 40%;
}


.comment-form .submit {
    background-color: #001a57;
    color: #fff;

}

.btn, .comment-form .submit, .gform_button, .tribe-events-button {
    border-radius: 0;
    padding: 0.3rem 1rem;
    text-decoration: none;
    font-size: 16px;
    transition: background-color .3s ease;
}

.socials{
    margin: 5%;
    max-height: 20vh;
}



.Contact{
    display: inline-block;
    position: relative;
    left: 10%;
    margin-top: 2%;

}

.Connect{
    position: relative;
    left: 400px;
    margin-top: 2%;
}

address{
    display: block;
    position: relative;
    right: 0;
    margin-top: 2%;
}

.list-inline>li {
    display: inline-block;
    margin: -7%;
}

.CHeader{
    position: relative;
    right: 7%;
}

.navbar{
    background-color: #030f15;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
}


@media (max-width: 900px) {
    
.sildeshow{
    width: 100%;
    height: 100vh;
    position: absolute;
}
.slideshow img{
    object-fit: cover;
}
.about_container{
    margin-top: 5%;
    flex-direction: column;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}
.about_text{
    align-items: center;
    width: 100%;
    padding: 0rem 5rem;
    position: relative;
    text-align: left;
    padding-top: 0;
    margin-top: 2rem;

    
}
body{
   width: 100%;
}

  
  }
